@layer components;
.button {
  font: inherit;
  padding: var(--spacing-md) var(--spacing-lg);
  border: none;
  border-radius: var(--radius-sm);
  background: var(--color-brand);
  color: var(--color-inverse-text);
}
.button:where(:focus-visible) {
  outline: var(--spacing-xs) solid var(--color-brand);
  outline-offset: var(--spacing-xs);
}
.button:where(:disabled) {
  opacity: 0.6;
  cursor: not-allowed;
}
